*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

body {
  /*
  background-image: url(./Assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; o cover serve para cobrir a tela inteirinha, sem deixar espaço
  */

  /* é um atalho para os backgrond de cima para usar menos linhas*/
  background: url(./Assets/bg-mobile.jpg) no-repeat top center/cover;
}

#container {
  width: 360px;
  border: 1px solid rgb(255, 0, 0);
  /* o margin auto deixa uma caixa no centro mas ele vai mudando automaticamente de acordo com o tamanho da tela */
  margin:56px auto 0px;
}

/* eu não consigo aplicar elemento auto em div inline */

#profile{
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

body *{
  font-family: "Inter", sans-serif;
  color: white;
}

